PORT=3333
HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=5000
APP_USERS=http://fit-friends.users:3111
APP_COACHING=http://fit-friends.coaching:3444
APP_FILES=http://fit-friends.uploader:3222
APP_NOTIFY=http://fit-friends.notify:3555
RABBIT_HOST=fit-friends.notify.rabbitmq
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_BINDING_KEYS=SEND_NEWS
SEND_NEWS=notify.send|fitFriends.notify|send
HOST=localhost
SERVE_ROOT=/static
ROOT_PATH=./static
