UPLOAD_DIRECTORY_PATH=/opt/fit-friends-uploader/uploads
PORT=3222
MONGO_DB_HOST=fit-friend.uploader.mongo
MONGO_DB_PORT=27017
MONGO_DB_NAME=fit-friends-uploader
MONGO_DB_USER=admin
MONGO_DB_PASSWORD=test
MONGO_DB_AUTH_BASE=admin
HOST=localhost
SERVE_ROOT=/static
